<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Pong</title>
    <link href="../statics/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>
    <div>
      <h1>Pong</h1>
    </div>
    <div class="Tablero">
      <canvas id="tablero"></canvas>
    </div>
    <div class="puntuacion">
      <h3 id="score"></h3>
    </div>
    <script src="../dynamics/script.js"></script>
  </body>
</html>
