<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--Titulo que aparecera en la pestaña del navegador-->
    <title>Hanoi</title>
    <!--Para poder ocupar nuestra hoja de estilos Hanoi.css-->
    <link rel="stylesheet" href="../Statics/CSS/Hanoi.css">
  </head>
  <body>
    <!--Titulo que aparecera en el body-->
    <h1>Torres de Hanoi</h1>
    <!--div que contendra las torres-->
    <div class="container">
      <!--div de cada torre-->
      <div id="torre1"></div>
      <div id="torre2"></div>
      <div id="torre3"></div>
    </div>
    <!--Para poder ocupar nuestra hoja de Hanoi.js-->
    <script type="text/javascript" src="../Dynamics/JS/Hanoi.js"></script>
  </body>
</html>
