<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Execute Order Pase Reglamentado</title>
  <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=-ZzSO_lHXPNhVPGO0on8ZUC_pa4IXUVcEvhhlRIKlJHTsfP-fYIwPb1aaFXMoMhZfKgPmRpCsbV0YjFBDXGvb47wjmMwXC-sqP3DvO1pcxK_M7uW0LydnIR-9cqBWgIvWZEeLDecoO9-p3fZ1Iu_eCKtavSSGK-8G82BbZ_K9cIer_DwFkUtTZxa_3GcEWmP0YZFzs1ehXDmuWXjBs5qaWsFVflcQO2fw6yB9XqbeyFM-DtwRzSYsy1vTfd9GRih6HtSV5ABFImWcos0YF3whqO1Dherbs_sUlYA_IXXPqbwuY-IEsbIT9a588CGMnzIDzLBn0edw-OJRHmb9PTDlhv7bV1QDjuhtJtusF--NShkq3a7CO6e3kbFqH29UduBqqOTdQEu8rfPooMT397i4ApJtQvFUZ4zY-zCQoDfwk1yFynELU6pm9aEJSr9RxsnU_RfWjjFjK6_If4AQuI-kw" charset="UTF-8"></script></head>
  <body>
    <h1>Execute Order Pase Reglamentado</h1>
    <form action="../dynamics/php/registro.php" method="post" width="300px">
      <fieldset>
        <legend>Validación de usuario</legend>
        <label for="cuenta">Ingresa tu número de cuenta: </label>
        <input type="text" name="cuenta" required> <br>
        <input type="submit" name="inicio" value="Enviar" id="sub">
      </fieldset>
    </form>
  </body>
</html>
