<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cronómetro</title>
    <link rel="stylesheet" href="../statics/act17.css">
    <script defer="defer" src="../dynamics/act17.js"></script>
  </head>
  <body>
    <canvas id="canvas" width="400" height="400"></canvas>
    <h1 id="mostrarseg"></h1>
    <div id="botones">
      <button type="button" id="iniciar">Iniciar</button>
    </div>
    <button type='button' id='interval'>Intervalo</button>
    <table id="intervalo"></table>
  </body>
</html>
