<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../statics/act12.css">
    <title>Snake B)</title>
  </head>
  <body>
    <div class="gen">
      <div id="puntaje" class="puntaje" align="center"></div>
    </div>
    <canvas id="snake" width="1000" height="1000"></canvas>
    <div class="gen">
      <div align="center"><button type="button" id="Arriba">Arriba</button></div>
      <div align="center">
        <button type="button" id="Izquierda">Izquierda</button>
         <button type="button" id="Abajo">Abajo</button>
        <button type="button" id="Derecha">Derecha</button>
      </div>
    </div>


    <script src="../dynamics/act12.js"></script>
  </body>
</html>
