/*Darle estilo a los id torre*/
#torre1, #torre2, #torre3 {
  width: 20px;
  height: 200px;
  background-color: #a45b0f;
  margin: 0 100px;
  position: relative;
}
/*Darle estilo a la clase tam1*/
.tam1 {
  width: 50px;
  height: 30px;
  margin-left: -15px;
  background-color: #af1f3a;
}
/*Darle estilo a la clase tam2*/
.tam2 {
  width: 80px;
  height: 30px;
  margin-left: -30px;
  background-color: #2c26b1;
}
/*Darle estilo a la clase tam3*/
.tam3 {
  width: 110px;
  height: 30px;
  margin-left: -45px;
  background-color: #dbdf27;
}
/*Darle estilo a la clase tam4*/
.tam4 {
  width: 140px;
  height: 30px;
  margin-left: -60px;
  background-color: #2ab40a;
}
/*Darle estilo a la clase tam5*/
.tam5 {
  width: 170px;
  height: 30px;
  margin-left: -75px;
  background-color: #cc1480;
}
/*Darle estilo a la clase container*/
.container {
  display: flex;
  width: 80%;
  margin: 250px 10%;
  justify-content: space-between;
}
/*Darle estilo al h1*/
h1 {
  text-align: center;
}
